{% extends 'main/base.html' %}
{% load static %}

<!-- SEO -->
{% block title %}Ivans S Contact form{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

<!-- CSS -->
{% block extend_header %}{% endblock %}

<!-- Scripts -->
{% block extend_footer %}{% endblock %}

<!-- Content -->
{% block content %}

<!-- Captcha scripts -->
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
   function onSubmit(token) {
       document.getElementById("contactForm").submit();
   }
 </script>

<!-- ================================
Start Content
================================= -->
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Contact me below</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container contactFormStyle">
        <form id="contactForm" method="POST" action="/contact/">
            {% csrf_token %}

            <label for="name">Name</label>
            {{ form.name }}

            <label for="email">Email</label>
            {{ form.email }}

            <label for="message">Message</label>
            {{ form.message }}

{#<input class='btn btnPrimary' type="submit" value="Submit">#}
        </form>
                    <button class='g-recaptcha btn btnPrimary'
                    type='button'
                    data-sitekey="6LdjM0YnAAAAAHYdwS5LhglNo0Bev40rPFVKmG_n"
                    data-callback='onSubmit'
                    data-action='submit'
                    >SUBMIT</button>


    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{% endblock %}